<p>{{ superquickcheckout_admin_mail_request_id }} {{ request_id }}</p>
<hr />
<p>{{ superquickcheckout_admin_mail_name }} {{ name }}</p>
<p>{{ superquickcheckout_admin_mail_telephone }} {{ telephone }}</p>
<p>{{ superquickcheckout_admin_mail_email }} {{ email }}</p>
<p>{{ superquickcheckout_admin_mail_comment }} {{ comment }}</p>