{% set element_folder = 'default/template/product/' %}


<div id="options-combinations-container">
    <div class="selectable-options">
        {% for option in options %}

            {% if options_like_images and options_like_images_option_fields and option.option_id in options_like_images_option_fields %}

                {% set block_type = option.type %}
                {% include element_folder ~'options_combinations_form_option_like_image.twig' %}

            {% elseif options_like_list and option.option_id in options_like_list_option_fields %}

                {% set block_type = option.type %}
                {% include element_folder ~'options_combinations_form_option_like_list.twig' %}

            {% else %}

                {% if option.type == 'select' %}
                    <div class="form-group{% if option.required %} required {% endif %}">
                        <label class="control-label" for="input-option{{ option.option_id }}">{{ option.name }}</label>
                        <select name="option-combinations[{{ option.option_id }}]" id="input-option{{ option.option_id }}" class="form-control" data-type="select">
                            <option value="">{{ text_select }}</option>
                            {% for option_value in option.product_option_value %}
                                <option value="{{ option_value.option_value_id }}" data-option-id='{"{{ option.option_id }}":"{{ option_value.option_value_id }}"}'>{{ option_value.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                {% if option.type == 'radio' %}
                    <div class="form-group{% if option.required %} required {% endif %}">
                        <label class="control-label">{{ option.name }}</label>
                        <div id="input-option{{ option.option_id }}" data-type="radio">
                            {% for option_value in option.product_option_value %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="option-combinations[{{ option.option_id }}]" value="{{ option_value.option_value_id }}" data-option-id='{"{{ option.option_id }}":"{{ option_value.option_value_id }}"}' />
                                        {{ option_value.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if option.type == 'checkbox' %}
                    <div class="form-group{% if option.required %} required {% endif %}">
                        <label class="control-label">{{ option.name }}</label>
                        <div id="input-option{{ option.option_id }}" data-type="checkbox"> {% for option_value in option.product_option_value %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="option-combinations[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" data-option-id='{"{{ option.option_id }}":"{{ option_value.option_value_id }}"}' />
                                        {#{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}#}
                                        {{ option_value.name }}
                                    </label>
                                </div>
                            {% endfor %} </div>
                    </div>
                {% endif %}

            {% endif %}
        {% endfor %}
    </div>

    <div class="no-selectable-options">
    </div>

</div>
