<td class="images-column">
    <div id="option-images-{{ option_combination_row }}">
        {% for image_index,item in combined_product_option['images'] %}
            <div>
                <a href="{{ item['image'] }}" data-toggle="image" class="img-thumbnail" id="thumb-image{{ option_combination_row }}-{{ image_index }}">
                    <img src="{{ item['image_thumb'] }}" alt="" title="" data-placeholder="{{ item['image'] }}" />
                </a>
                <input id="input-image{{ option_combination_row }}-{{ image_index }}" class="input-option-images-{{ option_combination_row }}" type="hidden" name="options_combinations[{{ option_combination_row }}][images][{{ image_index }}]" value="{{ item['image'] }}" />
            </div>
        {% endfor %}
    </div>
    <button onclick="addImageForOption(this);" type="button" data-toggle="tooltip" title="" class="btn btn-primary " data-original-title="Add Image"><i class="fa fa-plus-circle"></i></button>
</td>